# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ConsoleApplication4/ConsoleApplication4/Release/
*.ipdb
ConsoleApplication4/Release/
ConsoleApplication4/ConsoleApplication4/Debug/
